.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
}

.social {
    color: #FFF;
    text-decoration: none;

}

.social > a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 40px;
}

.social > a:hover {
    color:#455e77;
}