.App {
  text-align: center;
}

.about > h1, .projects > h1, .skills > h1 {
  min-height: 75px;
  width: 100%;
  background-color: lightgreen;
  font-size: 24px;
  text-align: left;
  line-height: 75px;
  padding-left: 100px;
}